<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhosWhoMM</title>

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">


    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Web Starter Kit">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#2F3BA2">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <!-- Material Design icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <!-- Material Design Lite page styles:
    You can choose other color schemes from the CDN, more info here http://www.getmdl.io/customize/index.html
    Format: material.color1-color2.min.css, some examples:
    material.red-teal.min.css
    material.blue-orange.min.css
    material.purple-indigo.min.css
    -->
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
     
     <link rel="stylesheet" href="../static/mdl/material.css">
  <script src="../static/mdl/material.js"></script>
  <link type="text/css" rel="stylesheet" href="../static/materialize/css/materialize.css"  media="screen,projection"/>

    <!-- Your styles -->
    <link rel="stylesheet" href="styles/main.css">

    
  </head>
<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
           <span class="mdl-layout-title">Who is Who in Myanmar</span>
           <form action="/" method="POST" style="margin-left:55%;">
            <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" name="search" id="sample3">
             <label class="mdl-textfield__label" for="sample3">Search</label>
          </div>
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" name="submit">
              <i class="material-icons">search</i>
           </button>
          </form>
        </div>
<div class="mdl-layout--small-screen-only mdl-layout__header-row">
           <form action="/" method="POST">
            <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" name="search" id="sample3" style="width:250px;">
             <label class="mdl-textfield__label" for="sample3">Search</label>
          </div>
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" name="submit" style="margin-left:300px;">
              <i class="material-icons">search</i>
           </button>
          </form>
        </div>
</header>
         <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">WhosWhoMM</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="home.html">
             <i class="material-icons" style="padding-right:15px;">home</i>Home</a>
          <a class="mdl-navigation__link" href="politician.html">
             <i class="material-icons" style="padding-right:15px;">people</i>Politician</a>
          <a class="mdl-navigation__link" href="businessleader.html">
             <i class="material-icons" style="padding-right:15px;">people</i>Business Leader</a>
          <a class="mdl-navigation__link" href="celebrity.html">
             <i class="material-icons" style="padding-right:15px;">people</i>Celebrity</a>
          <a class="mdl-navigation__link" href="about.html">
             <i class="material-icons" style="padding-right:15px;">info</i>About</a>
        </nav>
        </div>
        <main class="mdl-layout__content">


        <div class="mdl-layout__tab-panel is-active">
            <div class="row">
                    <div class="col s12">

          <h3 style="margin-left: 8%;margin-bottom: 5%;">Business Leader</h3>

            <style>
                .demo-card-wide.mdl-card {
                  width: 300px;
                  margin-left: 8%;
                  float: left;
                  margin-bottom: 5%;
                }
                .demo-card-wide > .mdl-card__title {
                  color: #fff;
                  height: 176px;
                }
                .demo-card-wide > .mdl-card__menu {
                  color: #fff;
                }
                .c{
                  clear: both;
                }
                .b{
                  margin-bottom: 70%;
                }
              </style>
               {% for person in business %}
                <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                      <div class="mdl-card__title" style=background:url("{{person.photo}}")>
                      </div>
                      <div style="font-size:20px;margin-left:20px;margin-top:20px;">
                       {{person.name}}
                    </div>
                       <div class="mdl-card__supporting-text" style="line-height:25px">
                      {{person.occupation}}
                      </div>
                      <div class="mdl-card__actions mdl-card--border">
                   <a href="{{ url_for('profile',initialname=person.initialname) }}" target="" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="color:rgb(244,61,61);">
                        View Profile
                      </a>
                      </div>
                    </div>

                 {% endfor %}


                 
</html>